<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 POS Draft Order Management</h2>
            <br/>
<div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
                <h3>
                    Features
                </h3>
                <ul>
                	<li style="color:#30054D;font-weight:bold;">Sales Person(POS User) only can make draft order from his POS.</li>
                	<li style="color:#30054D;font-weight:bold;">Sales Persons only can see their own order.</li>
                	<li style="color:#30054D;font-weight:bold;">Cashier(POS Manager) can see all the draft orders of sales persons. Cashier can edit the orders and pay that orders.</li>
                    <li style="color:#30054D;font-weight:bold;">View order history.</li>
                    <li style="color:#30054D;font-weight:bold;">Reprint receipt from order list.</li>
                    <li style="color:#30054D;font-weight:bold;">Edit draft order.</li>
                    <li style="color:#30054D;font-weight:bold;">Reorder previous order from order list.</li>
                    <li style="color:#30054D;font-weight:bold;">Restrict sales person to give discount and change price.</li>
                    <li style="color:#30054D;font-weight:bold;">Sales person can not give discount beyond the assigned limit. if he want to go beyond limit then manager authentication is required.</li>
                </ul>
            </div>
            
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
            <ul>
                <li style="color:#30054D;font-weight:bold;">Here is the configuration for POS.</li>
                <li style="color:#30054D;font-weight:bold;">As per below image you can set sales persons for cashier.</li>
            </ul>
            <img style="max-width: 100%;" src="1_pos_config.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">Here is the configuration of POS for sales person.</li>
                <li style="color:#30054D;font-weight:bold;">User can restrict the discount and price changes and assign manager for authentication while give discount beyond the assigned limit.</li>
            </ul>
            <img style="max-width: 100%;" src="2_sales_user_config.png"><br /><br />
             <ul>
                <li style="color:#30054D;font-weight:bold;">After enable Draft Order Management, orders button will be display.</li>
                 <li style="color:#30054D;font-weight:bold;">Popup button will only visible to cashier.</li>
                 <li style="color:#30054D;font-weight:bold;">In popup window cashier can only see draft orders which is made by configured sales person.</li>
            </ul>
            <img style="max-width: 100%;" src="3_order_popup.png"><br /><br />
             <ul>
                 <li style="color:#30054D;font-weight:bold;">Click on orders button and it will show order history.</li>
                 <li style="color:#30054D;font-weight:bold;">On this order list user can re-print receipt, re-order, delete draft order.</li>
                 <li style="color:#30054D;font-weight:bold;">Only cashier can pay draft order which created by sales person.</li>
             </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"/><br /><br />
            <ul>
                 <li style="color:#30054D;font-weight:bold;">Click on re-order and an product popup will show up that contains list of products of particular order.</li>
                 <li style="color:#30054D;font-weight:bold;">You can edit that order and reorder.</li>
             </ul>
             <img style="max-width: 100%;" src="4_reorder.png"><br /><br />
             <ul>
                 <li style="color:#30054D;font-weight:bold;">In sales person form we can give access for change price or change discount and assign limit for discount how much discount this user can give.</li>
                 <li style="color:#30054D;font-weight:bold;">User also can specify the method of authentication of manager like when sales person go beyond the given limit then ask for manager authentication at that time authentication process will work based on selected type of authentication.</li>
             </ul>
             <img style="max-width: 100%;" src="5_sales_person_user_form.png"><br /><br />
             <ul>
                 <li style="color:#30054D;font-weight:bold;">When sales person give discount more the his limit then this popup window comes and prompt for authentication for manager.</li>
             </ul>
             <img style="max-width: 100%;" src="6_manager_authentication_popup.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>
